---
layout: default
title: Michael Møller
---

<div class="left-content">
    <div class="headline-box">
        <h2>Web Developer</h2>
        <h1>Michael Møller</h1>
        <h4>WordPress Expert, Frontend Nerd and NodeJS fan</h4>
    </div>
    <div class="contact-box">
        <span class="text">Contact</span>
        <div class="icon mail"><a href="mailto:spec@live.dk">{% include mail.html %}</a></div>
        <div class="icon linkedin"><a href="https://www.linkedin.com/in/michael-m%C3%B8ller-94927265" target="_blank">{% include linkedin.html %}</a></div>
        <div class="icon github"><a href="https://github.com/djaevlen" target="_blank">{% include github.html %}</a></div>
    </div>
</div>

<div class="right-content">
    <!-- Projects -->
    <div class="projects">

        <div class="headline">
            <h3>Projects</h3>
            <div class="line"></div>
        </div>

        <div class="list">
            <ul>
                <li ng-repeat="project in projects">
                    <span ng-click="openProject(project)" ng-bind="project.name"></span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="work-exp">

        <!-- Work Experience -->
        <div class="headline">
            <h3>Work Experience</h3>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>Beruf (Web Developer 2013-2016)</li>
                <li>Mimer.io (Web Developer and System Architect 2015-2016)</li>
                <li>Ivækst Kurser (Teacher and Course Lecturer 2015-2016)</li>
                <li>Me-Mover (Intern Web Developer 2013-2014)</li>
            </ul>
        </div>
        

    </div>

    <div class="strongsides merge merge-left">

        <!-- Work Experience -->
        <div class="headline">
            <h3>Strongsides</h3>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>HTML5</li>
                <li>CSS3 (SCSS and LESS)</li>
                <li>BOOTSTRAP</li>
                <li>ANGULARJS 1.X</li>
                <li>jQuery</li>
                <li>JSON</li>
                <li>-</li>
                <li>PHP (WordPress)</li>
                <li>MYSQL</li>
                <li>NODEJS (ExpressJS and MongoDB)</li>

                <!-- <p>HTML5, CSS3 (SCSS and LESS), BOOTSTRAP, ANGULARJS 1.X, jQuery, JSON</p>
                <br>
                <p>PHP (WordPress), MYSQL, NODEJS (ExpressJS and MongoDB)</p> -->




            </ul>
        </div>

    </div>

    <div class="knowledge merge merge-right">

        <!-- Work Experience -->
        <div class="headline">
            <h3>Knowledge and have used</h3>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>JADE</li>
                <li>REACTJS</li>
                <li>ANGULARJS 2.X</li>
                <li>-</li>
                <li>LARAVEL</li>
                <li>JOOMLA</li>
                <li>-</li>
                <li>GULP</li>
                <li>GIT</li>
                <li>CLI</li>
            </ul>
        </div>
        
    </div>

    
</div>
