---
layout: default
title: Michael Møller
---

<div class="left-content">
    <div class="headline-box">
        <h2>Full Stack Developer</h2>
        <h1>Michael Møller</h1>
        <h4>WordPress Expert, Frontend Nerd and Laravel fan</h4>
    </div>
    <div class="contact-box">
        <span class="text">Contact</span>
        <div class="icon mail"><a href="mailto:michael@coyo.dk">{% include mail.html %}</a></div>
        <div class="icon linkedin">
            <a href="https://www.linkedin.com/in/michael-m%C3%B8ller-94927265" target="_blank"
                >{% include linkedin.html %}</a
            >
        </div>
        <div class="icon github">
            <a href="https://github.com/djaevlen" target="_blank">{% include github.html %}</a>
        </div>
    </div>
</div>

<div class="right-content">
    <!-- Projects -->
    <div class="projects">
        <div class="headline">
            <h3>Projects</h3>
            <div class="line"></div>
        </div>

        <div class="list">
            <ul>
                <li ng-repeat="project in projects">
                    <span ng-click="openProject(project)" ng-bind="project.name"></span>
                </li>
                <!-- <li>
                        And many more...
                </li> -->
            </ul>
        </div>
    </div>

    <div class="work-exp">
        <!-- Work Experience -->
        <div class="headline">
            <h3>Work Experience</h3>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>Planday (Full Stack Developer 2019-?)</li>
                <li>Umano (Full Stack Developer 2018-2019)</li>
                <li>Planday (Web Developer 2016-2018)</li>
                <li>Beruf (Web Developer 2013-2016)</li>
                <li>Mimer.io (Web Developer and System Architect 2015-2016)</li>
                <li>Ivækst Kurser (Teacher and Course Lecturer 2015-2016)</li>
                <li>Me-Mover (Intern Web Developer 2013-2014)</li>
            </ul>
        </div>
    </div>

    <div class="strongsides merge merge-left">
        <!-- Work Experience -->
        <div class="headline">
            <h3>Strongsides</h3>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>FRONTEND (HTML, CSS and JS)</li>
                <li>SCSS AND LESS</li>
                <li>BOOTSTRAP</li>
                <li>ANGULARJS 1.X</li>
                <li>REACT</li>
                <li>JQUERY</li>
                <li>-</li>
                <li>PHP AND MYSQL</li>
                <li>WORDPRESS</li>
                <li>LARAVEL AND LUMEN</li>
                <li>NODEJS (EXPRESSJS and MONGODB)</li>

                <!-- <p>HTML5, CSS3 (SCSS and LESS), BOOTSTRAP, ANGULARJS 1.X, jQuery, JSON</p>
                <br>
                <p>PHP (WordPress), MYSQL, NODEJS (ExpressJS and MongoDB)</p> -->
            </ul>
        </div>
    </div>

    <div class="knowledge merge merge-right">
        <!-- Work Experience -->
        <div class="headline">
            <h3>Fair knowledge of</h3>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>GIT</li>
                <li>WEBPACK</li>
                <li>ANGULARJS 2.X</li>
                <li>GULP</li>
                <li>CLI</li>
                <li>SKETCH</li>
            </ul>
        </div>
    </div>
</div>
