<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
	<title>1464203466_email_mail_envelope_send_message</title>
	<g id="Style_2" data-name="Style 2">
		<rect width="32" height="32" style="fill: #fff"/>
		<g>
		  <polygon points="6.5 21.8 11.7 15.3 6.5 12.1 6.5 21.8" style="fill: #333"/>
		  <polygon points="19.5 15.7 16 17.9 12.5 15.8 7.1 22.5 24.9 22.5 19.5 15.7" style="fill: #333"/>
		  <polygon points="16 16.9 25.5 11 25.5 9.5 6.5 9.5 6.5 11.1 16 16.9" style="fill: #333"/>
		  <polygon points="20.3 15.3 25.5 21.8 25.5 12.1 20.3 15.3" style="fill: #333"/>
		</g>
	</g>
</svg>
