<div class="modal-body">
	
	
	<div class="left">
		<div class="close" ng-click="close()">
			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M28,2.8L25.2,0,14,11.2,2.8,0,0,2.8,11.2,14,0,25.2,2.8,28,14,16.8,25.2,28,28,25.2,16.8,14Z" fill="#fff"/></svg>
		</div>
		<h2><a href="http://{{project.name}}" target="_blank">{{project.name}}</a></h2>
		<h3>{{project.type}}</h3>
		<p ng-bind-html="project.content"></p>
		<div class="tech">
			<h4>technologies used</h4>
			<p ng-bind-html="project.tags"></p>
		</div>
	</div>

	<div class="right">
		<div class="close" ng-click="close()">
			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M28,2.8L25.2,0,14,11.2,2.8,0,0,2.8,11.2,14,0,25.2,2.8,28,14,16.8,25.2,28,28,25.2,16.8,14Z" fill="#fff"/></svg>
		</div>
		<div class="image1">
			<img ng-src="/assets/{{project.images.image1}}" alt="">
		</div>
		<div class="image2">
			<img ng-src="/assets/{{project.images.image2}}" alt="">
		</div>
	</div>


	
</div>